body{
    font-family: "Arial", sans-serif;
    font-size: small;
}
/* Navbar */
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding: 0 50px;
    border-bottom: 1px solid;
}
img{
    width: 100px;
}
.contact{
    margin-top: -30px;
}
.contact a, .privacy-policy a, .forgot-password>a{
    color: black;
}
.contact a:hover, .privacy-policy a:hover, .forgot-password>a:hover{
   text-decoration: none;
}
/* customAlert */
.customAlert{
    height: 20px;
    font-weight: bold;
    font-size: 14px;
}
/* Container */
.container{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.container>div{
    width: 40%;
}
h4{
    letter-spacing: 1px;
    font-size: medium;
}
input[type="email"], input[type="password"],input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
}
#customAlertName{
    margin: 0;
}
#customAlert2{
    margin:0;
}
#signUpForm p{
    margin: 0;
}
.forgot-password{
    text-align: end;
    padding: 8px 0;
}
li{
    margin: 10px 0 0 -20px;
}
.privacy-policy{
    display: flex;
    align-items:start;
    gap: 5px;
    margin-top: 5px;
}

.privacy-policy>p{
    margin-top: 0px;
}
.radio-btn{
    margin: 0px 15px 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
input[type="radio"]{
    margin: 10px;
}

button{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border: none;
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(92, 91, 91);
    transition: 0.3s;
}

/* T&C */
.tc{
    margin-top: 50px;
    text-align: center;
}
.tc a{
    color: rgb(193, 22, 22);
}
.tc a:hover{
    color: black;
    text-decoration: none;
}

.footheading{
    height: 150px;
    width: 90%;
    border: 1px solid black;
    margin-left: 70px;
    margin-top: 70px;
    background-color: #e3d4d0;
    display:flex;
    border:none;   
}

.footheading2{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: #e3d4d0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}

.footheading2 p{
    margin-left: 20px; 
}
.footheading2 span{
    margin-left: 20px;
    text-decoration: underline;
    
}
.mainfootcontent{
    width: 100%;
    border: 1px solid black;
    margin-top:20px;
    border:none;
}
.contentfoot{
    width: 90%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 70px;
    border:none;

}
.contentfoot>div{
    border: 1px solid black;
    border:none;
}
.contentfoot>div a{
    line-height: 30px;
    font-size: small;
    color: black;
    text-decoration: none;
    
}
.contentfoot>div a:hover{
    text-decoration: underline;
}
.crosstickimg{
    width:20px;
    height:30px;
    margin-left: 30px;
 
}
.specialelementfoot{
    width: 200px;
    height: 20px;
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    border: none;
}
textarea {
    width: 480px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #961c1c;
    display: flex;
    position: relative;
   
    
}
.footcopyright{
    margin-left: 65px;
    color: #827f7f;
}
@media all and (min-width:801px) and (max-width:1300px){
    .container{
        width: 90%;
    }
}

@media all and (min-width:501px) and (max-width:800px){
    .container{
        width: 100%;
    }
    .container>div{
        width: 45%;
    }
    .top{
        margin: 10px;
        padding: 10px;
    }
    img{
        width: 100px;
        height: 80px;
    }
    .contact>span{
       display: block;
    }
}

@media all and (max-width:500px){
    .container{
        width: 98%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
    .container>div{
        width: 100%;
    }
    .tc{
        margin: 30px 0 50px 0;
        text-align: center;
    }
    .radio-btn{
        margin-left:15px
    }
    .top{
        margin: 10px;
        padding: 10px;
    }
    img{
        width: 100px;
        height: 80px;
    }
    .contact>span{
       display: block;
    }
}
