* {
  font-family: Montserrat, Arial, sans-serif;
  /* color:black; */
}

.majorbox {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}
.headerandlogocombine {
  width: 100%;
  height: 180px;
  /* border: 1px solid black; */
}
.header1 {
  width: 100%;
  height: 40px;
  /* border: 1px solid black; */
}
.header1 ul {
  display: flex;
  margin-top: 1px;
  justify-content: right;
  margin-right: 70px;
}
.header1 ul li {
  font-size: 1em;
  line-height: inherit;
  letter-spacing: inherit;
  list-style-type: none;
}
.countryPreferencelist {
  background-color: transparent;
  width: 100px;
  height: 22px;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  border: none;
}
.countryprefer:hover .countryPreferencelist {
  text-decoration: underline; /* Add underline on hover */
}
.countryprefer {
  list-style-type: none;
}
.flagindia {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  border: 1px solid white;
  background-image: url(https://is4.fwrdassets.com/r/assets/main/source/flags/in.svg);
  background-size: cover;
  margin-bottom: 10px;
  /* border: none; */
}
.signinpage {
  list-style-type: none;
  line-height: inherit;
  margin-top: 15px;
}
.signinpage a {
  color: black;
  text-decoration: none;
}
.signinpage a:hover {
  text-decoration: underline;
}

#clothing-selectors {
  text-align: center;
  padding: 20px;
  background-color: #333;
}
#clothing-selectors nav {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #555;
  /* border: none; */
}
.clothing-sections {
  display: none;
  padding: 20px;
}

.clothing-sections p {
  font-size: 18px;
  color: #333;
  margin: 0;
}
.mainlogo {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-image: url(../../assets/logo.jpeg);
  background-size: cover;
  border: none;
}
.logocontent1 {
  width: 100%;
  height: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: none;
}
.searchwishlist1 {
  width: 320px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: none;
}
.search1 {
  width: 90px;
  height: 20px;
  /* border: 2px solid black; */
  display: flex;

  /* border:none; */
}
.icon1 {
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  /* border:none; */
}
.wishtlis1t {
  width: 90px;
  height: 30px;
  /* border: 1px solid black; */
  color: black;

  /* border:none; */
}
.wishtlist1:hover {
  text-decoration: underline;
}
.mybag1 {
  width: 90px;
  height: 20px;
  /* border: 1px solid black; */
  /* border:none; */
}
.menlink:focus,
.womenlink:focus {
  text-decoration: underline;
  outline: none; /* Remove the default focus outline */
}

.menlink,
.womenlink {
  text-decoration: none;
  cursor: pointer;
}

.wish1 {
  color: black;
  text-decoration: none;
}
.bag:hover {
  text-decoration: underline;
}
.headerlogocontent {
  width: 90%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  margin-left: 70px;
  justify-content: space-between;
  /* border: none; */
}

/* category page */

.productbox {
  width: 90%;
  height: 800px;
  /* border: 1px solid black; */
  /* display: grid;
    grid-template-columns: repeat(2,1fr); */
  margin-left: 70px;
  gap: 10px;
}

.productheading {
  width: 100%;
  height: 200px;
  /* border: 1px solid black; */
}
.productArrivals {
  width: 100%;
  height: 40px;
  /* border:1px solid black; */
  margin-top: 60px;
}
.productnav {
  width: 100%;
  height: 45px;
  /* border: 1px solid black; */
  display: flex;
  position: relative;
  margin-top: 50px;
}

.productnav h6 {
  font-weight: normal;
}
.productnav button {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  margin-top: 7px;
  border: none;
  /* border: none; */
}
#navarrow {
  display: inline-block;
}

.productnav:hover #navarrow {
  transform: rotate(180deg);
}
.productnav .productnav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  min-height: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Position dropdown content just below the button */
  left: 0;
}
.productnav:hover .productnav-content {
  display: block;
}

.productnav p {
  padding: 10px;
  margin: 0;
  font-size: small;
  line-height: 10px;
}

.productmmain1section a {
  text-decoration: none;
  color: black;
}
.productmmain1section a:hover {
  text-decoration: underline;
}

.productcategorymain {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  margin-top: 20px;
  /* grid-template-columns: repeat(2,1fr); */
}
.productcategorymain > div {
  /* border: 1px solid black; */
}
.productmmain1section {
  width: 250px;
  height: auto;
  /* border: 1px solid black; */
  line-height: 30px;
}
.productcardSection {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 350px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card content styling */
.card-content {
  padding: 16px;
}

/* Card title styling */
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Card description styling */
.card-description {
  font-size: 16px;
  color: #555;
}

/* Card image styling */
.card-image {
  width: 100%;
  height: 550px;
  object-fit: contain;
  object-position: center;
}
.heart {
  padding: 8px;
}
.heartbox {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-left: 280px;
  border-radius: 50%;
  border: none;
}
.heartbox:hover {
  cursor: pointer;
  border: 1px solid black;
}
.cardheading {
  text-align: center;
}
.cardpara {
  text-align: center;
}

.maindropdowns {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}
.womenlink {
  text-decoration: none;
  cursor: pointer;
}
.dropdownnav {
  width: 90%;
  height: 40px;
  border: 1px solid red;
  margin-left: 70px;
  border: none;
}
.navbar li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.navbar li a:hover {
  text-decoration: underline;
}
.content {
  width: 80%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: absolute;
  transform: translate(0%);
  visibility: hidden;
  opacity: 0;
  top: 10rem;
  margin-top: 20px;
  /* bottom: 40px; */
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.content > div {
  border: 1px solid black;
  border: none;
}
.cat1 a,
.clothing-selectors a {
  color: black;
}

.cat1:hover > .content {
  visibility: visible;
  opacity: 1;
  top: 11rem;
}
.content1 {
  width: 70%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: absolute;
  transform: translate(0%);
  visibility: hidden;
  opacity: 0;
  top: 10rem;
  line-height: 40px;
  border-radius: 5px;
}

.blacksection {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  margin-left: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  border: none;
  margin-top: 12px;
  align-items: center;
}
.footer {
  width: 100%;
  height: 500px;
  /* border: 1px solid black; */
  margin-top: 1700px;
}
.footercontent {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  margin-top: 120px;
}
.headingfoot {
  width: 800px;
  height: 150px;
  border: 1px solid black;
  margin-left: 30px;
  border: none;
}
.footheading {
  height: 150px;
  width: 90%;
  border: 1px solid black;
  margin-left: 70px;
  margin-top: 70px;
  background-color: #e3d4d0;
  display: flex;
  border: none;
}

.applestore img {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  transition: filter 0.3s ease;
}
.applestore img:hover {
  filter: grayscale(100%);
}
.applestore {
  position: relative;
}

.applestore img {
  width: 100px;
  height: 50px;
  transform: translateX(300px);
  margin-top: 50px;
  transition: filter 0.3s ease;
  color: inherit;
}

.applestore img:hover {
  filter: brightness(0.7);
}
.footheading2 {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: #e3d4d0;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.footheading2 p {
  margin-left: 20px;
}
.footheading2 span {
  margin-left: 20px;
  text-decoration: underline;
}
.mainfootcontent {
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
  border: none;
}
.contentfoot {
  width: 90%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 70px;
  border: none;
}
.contentfoot > div {
  border: 1px solid black;
  border: none;
}
.contentfoot > div a {
  line-height: 30px;
  font-size: small;
  color: black;
  text-decoration: none;
}
.contentfoot > div a:hover {
  text-decoration: underline;
}
.crosstickimg {
  width: 20px;
  height: 30px;
  margin-left: 30px;
}
.specialelementfoot {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  border: none;
}
textarea {
  width: 480px;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #961c1c;
  display: flex;
  position: relative;
}
.footcopyright {
  margin-left: 65px;
  color: #827f7f;
}
/* designs dropdown */

/* Style for the dropdown container */
.dropdown-container {
  display: flex;
  margin-top: -30px;
}

.dropdown {
  position: relative;
  margin-right: 20px;
}

.dropdown button {
  padding: 10px;

  color: black;
  border: none;
  cursor: pointer;
}

.dropdown .options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 420px;
  z-index: 1;
}

.dropdown .options a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown:hover .options {
  display: block;
}

/* need help dropdown */
.dropdown {
  position: relative; /* Make sure the container is relative */
}

.dropdown button {
  padding: 16px 15px;
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  margin-top: 40px;
  border: none;
}

/* .material-symbols-outlined {
    display: inline-block;
  } */

.buttontext {
  display: flex; /* Make the children display in a row */
  align-items: normal; /* Align children vertically centered */
  margin-bottom: 40px;
}

.dropdown .needhelp:hover .material-symbols-outlined {
  transform: rotate(180deg);
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  min-height: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: 20px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown p {
  padding: 10px;
  margin: 0;
  font-size: small;
  line-height: 10px;
}

#mainbox {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border: none;
}
.globalheader {
  width: 100%;
  height: 180px;
  border: 1px solid black;
  border: none;
}
.uppermostheader {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border: none;
  box-shadow: 1px 1px 2px 0px rgba(214, 212, 212, 0.75);
}
ul {
  display: flex;
  margin-top: 1px;
  justify-content: right;
  margin-right: 70px;
}
.freeshipping {
  font-size: 1em;
  line-height: inherit;
  letter-spacing: inherit;
  list-style-type: none;
}
.countryPreference {
  background-color: transparent;
  width: 100px;
  height: 22px;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}
.countryPreferencelink:hover .countryPreference {
  text-decoration: underline; /* Add underline on hover */
}
.countryPreferencelink {
  list-style-type: none;
}
.flag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  border: 1px solid white;
  background-image: url(https://is4.fwrdassets.com/r/assets/main/source/flags/in.svg);
  background-size: cover;
  margin-bottom: 10px;
  border: none;
}

.signin {
  list-style-type: none;
  line-height: inherit;
  margin-top: 15px;
}
.signin a {
  color: black;
  text-decoration: none;
}
.signin a:hover {
  text-decoration: underline;
}
.header2 {
  width: 90%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  margin-left: 70px;
  border: none;
}
.blacksection {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  margin-left: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  border: none;
}

.clothing-selector {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  border: none;
}

.dropdown {
  position: relative; /* Make sure the container is relative */
}

.dropdown button {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  margin-top: 7px;
  border: none;
}

.material-symbols-outlined {
  display: inline-block;
}

.buttontext {
  display: flex; /* Make the children display in a row */
  align-items: normal; /* Align children vertically centered */
  margin-bottom: 40px;
}

.dropdown .needhelp:hover .material-symbols-outlined {
  transform: rotate(180deg);
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  min-height: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 50%; /* Position dropdown content just below the button */
  left: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown p {
  padding: 10px;
  margin: 0;
  font-size: small;
  line-height: 10px;
}
#clothing-selector {
  text-align: center;
  padding: 20px;
  background-color: #333;
}

#clothing-selector nav {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #555;
  border: none;
}

.clothing-section {
  display: none;
  padding: 20px;
}

.clothing-section p {
  font-size: 18px;
  color: #333;
  margin: 0;
}
.newarrivalsection {
  padding: 10px;
  color: #fff;
  width: 500px;
  height: 30px;
}

.logo {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-image: url(../../assets/logo.jpeg);
  background-size: cover;
  border: none;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}

section {
  padding: 20px;
}
.logocontent {
  width: 100%;
  height: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: none;
}
.searchwishlist {
  width: 320px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: none;
}
.search {
  width: 90px;
  height: 30px;
  border: 2px solid black;
  display: flex;
  border: none;
}
.wishtlist {
  width: 90px;
  height: 30px;
  border: 1px solid black;
  color: black;
  border: none;
}
.wishtlist:hover {
  text-decoration: underline;
}
.mybag {
  width: 90px;
  height: 30px;
  border: 1px solid black;
  border: none;
}
.icon {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border: none;
}

.wish {
  color: black;
  text-decoration: none;
}

.menlink:focus,
.womenlink:focus {
  text-decoration: underline;
  outline: none; /* Remove the default focus outline */
}

.menlink,
.womenlink {
  text-decoration: none;
  cursor: pointer;
}
.dropdownnav {
  width: 90%;
  height: 40px;
  border: 1px solid red;
  margin-left: 70px;
  border: none;
}
.navbar li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.navbar li a:hover {
  text-decoration: underline;
}
.content {
  width: 80%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: absolute;
  transform: translate(0%);
  visibility: hidden;
  opacity: 0;
  top: 10rem;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.content > div {
  border: 1px solid black;
  border: none;
}

.cat1:hover > .content {
  visibility: visible;
  opacity: 1;
  top: 11rem;
}
.content1 {
  width: 70%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: absolute;
  transform: translate(0%);
  visibility: hidden;
  opacity: 0;
  top: 10rem;
  line-height: 40px;
  border-radius: 5px;
}
.groupimage1 {
  width: 90%;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  margin-left: 70px;
  gap: 20px;
  border: none;
}
.groupimage > div {
  border: 1px solid black;
  border: none;
}
.groupimage > div:nth-child(1) {
  margin-top: 10px;
}
.groupimage2 {
  width: 90%;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-left: 70px;
  gap: 10px;
  border: none;
}
.groupimage2 > div {
  border: 1px solid black;
  border: none;
}
img {
  width: 430px;
}
.content1 > div:nth-child(1) {
  background-image: url(https://is4.fwrdassets.com/images/up/2024/January/111624_FW_NAV_designers1_1x_r.jpg);
  background-size: cover;
}
.content1 > div:nth-child(2) {
  background-image: url(https://is4.fwrdassets.com/images/up/2024/February/020224_fw_khaite_3xpts_200x279.jpg);
  background-size: cover;
}
.productHeading {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  margin-left: 70px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.productitems {
  width: 90%;
  height: auto;
  border: 1px solid black;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  border: none;
}
.productimg1 {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border: none;
}
.productimg1 > div {
  border: 1px solid black;
  border: none;
}
.shoesimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/MMAR-WZ175_V1.jpg);
  background-size: cover;
  border: none;
}
.shoesimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/MMAR-WZ175_V2.jpg);
  background-size: cover;
}
.shoescontent {
  text-align: center;
  line-height: 10px;
  font-size: small;
}
.girlfirstimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/p/VSAC-WS198_V4.jpg);
  background-size: cover;
  border: none;
}
.girlfirstimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/VSAC-WS198_V1.jpg);
  background-size: cover;
}
.sandleimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMUD-WZ138_V1.jpg);
  background-size: cover;
  border: none;
}
.sandleimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMUD-WZ138_V2.jpg);
  background-size: cover;
}
.secondgirlimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/ACNE-WS499_V1.jpg);
  background-size: cover;
  border: none;
}
.secondgirlimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/ACNE-WS499_V4.jpg);
  background-size: cover;
}
.bagimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY790_V1.jpg);
  background-size: cover;
  border: none;
}
.bagimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY790_V2.jpg);
  background-size: cover;
}
.bag2img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY804_V1.jpg);
  background-size: cover;
  border: none;
}
.bag2img:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY804_V2.jpg);
  background-size: cover;
}
.bag3img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY803_V1.jpg);
  background-size: cover;
  border: none;
}
.bag3img:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY803_V2.jpg);
  background-size: cover;
}
.bag4img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY670_V1.jpg);
  background-size: cover;
  border: none;
}
.bag4img:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/45/LOEW-WY670_V2.jpg);
  background-size: cover;
}
.headingfoot {
  width: 800px;
  height: 150px;
  border: 1px solid black;
  margin-left: 30px;
  border: none;
}
.footheading {
  height: 150px;
  width: 90%;
  border: 1px solid black;
  margin-left: 70px;
  margin-top: 70px;
  background-color: #e3d4d0;
  display: flex;
  border: none;
}

.applestore img {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  transition: filter 0.3s ease;
}
.applestore img:hover {
  filter: grayscale(100%);
}
.applestore {
  position: relative;
}

.applestore img {
  width: 100px;
  height: 50px;
  transform: translateX(300px);
  margin-top: 50px;
  transition: filter 0.3s ease;
  color: inherit;
}

.applestore img:hover {
  filter: brightness(0.7);
}
.footheading2 {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: #e3d4d0;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.footheading2 p {
  margin-left: 20px;
}
.footheading2 span {
  margin-left: 20px;
  text-decoration: underline;
}
.mainfootcontent {
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
  border: none;
}
.contentfoot {
  width: 90%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 70px;
  border: none;
}
.contentfoot > div {
  border: 1px solid black;
  border: none;
}
.contentfoot > div a {
  line-height: 30px;
  font-size: small;
  color: black;
  text-decoration: none;
}
.contentfoot > div a:hover {
  text-decoration: underline;
}
.crosstickimg {
  width: 20px;
  height: 30px;
  margin-left: 30px;
}
.specialelementfoot {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  border: none;
}
textarea {
  width: 480px;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #961c1c;
  display: flex;
  position: relative;
}
.footcopyright {
  margin-left: 65px;
  color: #827f7f;
}
#gridcards {
  transition: filter 0.3s ease;
}
#gridcards:hover {
  filter: brightness(0.7);
}
#gridcardcontent h5 {
  /* margin-left: 100px; */
  width: 300px;
  border: 1px solid black;
  margin-left: 70px;
  text-align: center;
  transition: filter 0.3s ease;
  border: none;
}
#gridcardcontent p {
  width: 400px;
  border: 1px solid black;
  /* margin-left: 10px; */
  white-space: pre-wrap;
  text-indent: 20px;
  text-align: center;
  transition: filter 0.3s ease;
  border: none;
}
#gridcardcontent:hover {
  filter: brightness(0.7);
}
#gridcardcontent {
  transition: filter 0.3s ease;
}
.shoesmenimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMCQ-MZ93_V1.jpg);
  background-size: cover;
  border: none;
}
.shoesmenimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMCQ-MZ93_V2.jpg);
  background-size: cover;
}
.jeansimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MJ197_V1.jpg);
  background-size: cover;
  border: none;
}
.jeansimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MJ197_V4.jpg);
  background-size: cover;
}
.shoes3img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ196_V1.jpg);
  background-size: cover;
  border: none;
}
.shoes3img:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ196_V2.jpg);
  background-size: cover;
}
.shoes4img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ207_V1.jpg);
  background-size: cover;
  border: none;
}
.shoes4img:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ207_V2.jpg);
  background-size: cover;
}
.sweaterimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/TMBX-MK146_V1.jpg);
  background-size: cover;
  border: none;
}
.sweaterimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/TMBX-MK146_V4.jpg);
  background-size: cover;
}
.shoes5img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ199_V1.jpg);
  background-size: cover;
  border: none;
}
.shoes5img:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ199_V2.jpg);
  background-size: cover;
}
.shoes6img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ203_V1.jpg);
  background-size: cover;
  border: none;
}
.shoes6img:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/AMIF-MZ203_V2.jpg);
  background-size: cover;
}
.tshirtimg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/BURF-MS110_V1.jpg);
  background-size: cover;
  border: none;
}
.tshirtimg:hover {
  background-image: url(https://is4.fwrdassets.com/images/p/fw/z/BURF-MS110_V3.jpg);
  background-size: cover;
}

#navimag:hover {
  filter: brightness(0.7);
}
#navimag {
  transition: filter 0.3s ease;
}

.active {
  text-decoration: underline;
}
