* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --top-nav-fontisize: 12px;
}
nav {
  > .container {
    > .top-nav {
      padding-block: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: var(--top-nav-fontisize);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      box-shadow:
        rgba(27, 31, 35, 0.1) 0px 1px 0px,
        rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
      > ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 5px;
        font-weight: bold;
        > li {
          > p {
            display: flex;
            align-items: center;
          }
        }
        > li:nth-of-type(1) {
          display: flex;
          align-items: center;
          > img {
            height: calc(var(--top-nav-fontisize) + 2px);
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      > div:nth-of-type(1) {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 5px;
        > span {
          font-size: calc(var(--top-nav-fontisize) + 2px);
          transition: all linear 150ms;
          font-weight: bold;
        }
        &:hover > span {
          transform: rotate(-180deg);
        }
      }
      > div:nth-of-type(2) {
        align-items: center;
      }
    }
  }
}
