* {
  font-family: Montserrat, Arial, sans-serif;
  /* color:black; */
}
#mainbox {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border: none;
}
.globalheader {
  width: 100%;
  height: 180px;
  border: 1px solid black;
  border: none;
}
.cat1 a {
  color: black;
}

.uppermostheader {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border: none;
  box-shadow: 1px 1px 2px 0px rgba(214, 212, 212, 0.75);
}
ul {
  display: flex;
  margin-top: 1px;
  justify-content: right;
  margin-right: 70px;
}
.freeshipping {
  font-size: 1em;
  line-height: inherit;
  letter-spacing: inherit;
  list-style-type: none;
}
.countryPreference {
  background-color: transparent;
  width: 100px;
  height: 22px;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}
.countryPreferencelink:hover .countryPreference {
  text-decoration: underline; /* Add underline on hover */
}
.countryPreferencelink {
  list-style-type: none;
}
.flag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  border: 1px solid white;
  background-image: url(https://is4.fwrdassets.com/r/assets/main/source/flags/in.svg);
  background-size: cover;
  margin-bottom: 10px;
  border: none;
}

.signin {
  list-style-type: none;
  line-height: inherit;
  margin-top: 15px;
}
.signin a {
  color: black;
  text-decoration: none;
}
.signin a:hover {
  text-decoration: underline;
}
.header2 {
  width: 90%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  margin-left: 70px;
  border: none;
}
.blacksection {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  margin-left: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  border: none;
}

.clothing-selector {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  border: none;
}

.dropdown {
  position: relative; /* Make sure the container is relative */
}

.dropdown button {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  margin-top: 7px;
  border: none;
}

.material-symbols-outlined {
  display: inline-block;
}

.buttontext {
  display: flex; /* Make the children display in a row */
  align-items: normal; /* Align children vertically centered */
  margin-bottom: 40px;
}

.dropdown .needhelp:hover .material-symbols-outlined {
  transform: rotate(180deg);
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  min-height: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 50%; /* Position dropdown content just below the button */
  left: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown p {
  padding: 10px;
  margin: 0;
  font-size: small;
  line-height: 10px;
}
#clothing-selector {
  text-align: center;
  padding: 20px;
  background-color: #333;
}

#clothing-selector nav {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #555;
  border: none;
}

.clothing-section {
  display: none;
  padding: 20px;
}

.clothing-section p {
  font-size: 18px;
  color: #333;
  margin: 0;
}
.newarrivalsection {
  padding: 10px;
  color: #fff;
  width: 500px;
  height: 30px;
}

.logo {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-image: url(../../assets/logo.jpeg);
  background-size: cover;
  border: none;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}

section {
  padding: 20px;
}
.logocontent {
  width: 100%;
  height: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: none;
}
.searchwishlist {
  width: 320px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: none;
}
.search {
  width: 90px;
  height: 30px;
  border: 2px solid black;
  display: flex;
  border: none;
}
.wishtlist {
  width: 90px;
  height: 30px;
  border: 1px solid black;
  color: black;
  border: none;
}
.wishtlist:hover {
  text-decoration: underline;
}
.mybag {
  width: 90px;
  height: 30px;
  border: 1px solid black;
  border: none;
}
.icon {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border: none;
}

.wish {
  color: black;
  text-decoration: none;
}

.menlink:focus,
.womenlink:focus {
  text-decoration: underline;
  outline: none; /* Remove the default focus outline */
}

.menlink,
.womenlink {
  text-decoration: none;
  cursor: pointer;
}
.dropdownnav {
  width: 90%;
  height: 40px;
  border: 1px solid red;
  margin-left: 70px;
  border: none;
}
.navbar li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.navbar li a:hover {
  text-decoration: underline;
}
.content {
  width: 80%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: absolute;
  transform: translate(0%);
  visibility: hidden;
  opacity: 0;
  top: 10rem;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.content > div {
  border: 1px solid black;
  border: none;
}

.cat1:hover > .content {
  visibility: visible;
  opacity: 1;
  top: 11rem;
}
.content1 {
  width: 70%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: absolute;
  transform: translate(0%);
  visibility: hidden;
  opacity: 0;
  top: 10rem;
  line-height: 40px;
  border-radius: 5px;
}
.groupimage1 {
  width: 90%;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  margin-left: 70px;
  gap: 20px;
  border: none;
}
.groupimage > div {
  border: 1px solid black;
  border: none;
}
.groupimage > div:nth-child(1) {
  margin-top: 10px;
}
.groupimage2 {
  width: 90%;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-left: 70px;
  gap: 10px;
  border: none;
}
.groupimage2 > div {
  border: 1px solid black;
  border: none;
}
img {
  width: 430px;
}
.content1 > div:nth-child(1) {
  background-image: url(https://is4.fwrdassets.com/images/up/2024/January/111624_FW_NAV_designers1_1x_r.jpg);
  background-size: cover;
}
.content1 > div:nth-child(2) {
  background-image: url(https://is4.fwrdassets.com/images/up/2024/February/020224_fw_khaite_3xpts_200x279.jpg);
  background-size: cover;
}
.productHeading {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  margin-left: 70px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.productitems {
  width: 90%;
  height: auto;
  border: 1px solid black;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.footheading2 {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: #e3d4d0;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.footheading2 p {
  margin-left: 20px;
}
.footheading2 span {
  margin-left: 20px;
  text-decoration: underline;
}
.mainfootcontent {
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
  border: none;
}
.contentfoot {
  width: 90%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 70px;
  border: none;
}
.contentfoot > div {
  border: 1px solid black;
  border: none;
}
.contentfoot > div a {
  line-height: 30px;
  font-size: small;
  color: black;
  text-decoration: none;
}
.contentfoot > div a:hover {
  text-decoration: underline;
}
.crosstickimg {
  width: 20px;
  height: 30px;
  margin-left: 30px;
}
.specialelementfoot {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  border: none;
}
textarea {
  width: 480px;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #961c1c;
  display: flex;
  position: relative;
}
.footcopyright {
  margin-left: 65px;
  color: #827f7f;
}

/* card */
#wishlistContainer {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}

.wishlist-item {
  border: 1px solid #000000;
  padding: 10px;
  width: 280px;
  text-align: center;
}
.imagediv {
  height: 250px;
}

.imagediv img {
  width: 150px;
}

.productname {
  height: 50px;
}
.wish {
  text-decoration: underline;
}
.bag:hover {
  cursor: pointer;
  text-decoration: underline;
}
